//------------------------------------------------------------------------
//  $Document flow
//------------------------------------------------------------------------


.flow {
    @include flow;
}


//------------------------------------------------------------------------
//  $Wrappers
//------------------------------------------------------------------------


.wrapper {
    max-width: em($max-width);
    padding-left: em($gtr-half);
    padding-right: em($gtr-half);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint($s) {
        padding-left: em($gtr);
        padding-right: em($gtr);
    }
}


//------------------------------------------------------------------------
//  $Vertical Padding
//------------------------------------------------------------------------


.vp-s {
    padding-top: em($gtr-half);
    padding-bottom: em($gtr-half);

    @include breakpoint($m) {
        padding-top: em($gtr);
        padding-bottom: em($gtr);
    }
}

.vp-m {
    padding-top: em($gtr);
    padding-bottom: em($gtr);

    @include breakpoint($m) {
        padding-top: em($gtr*2);
        padding-bottom: em($gtr*2);
    }
}

