//------------------------------------------------------------------------
//  $Defaults
//------------------------------------------------------------------------


$ie8: false !default;


//------------------------------------------------------------------------
//  $Typography
//------------------------------------------------------------------------


$base-font-size   : 16;
$base-line-height : 24;

$ff-primary   : Verdana, sans-serif;
$ff-secondary : Georgia, serif;

$fw-light   : 300;
$fw-regular : 400;
$fw-bold    : 700;


//------------------------------------------------------------------------
//  $Colours
//------------------------------------------------------------------------


$white: #fff;
$black: #000;


//------------------------------------------------------------------------
//  $Layout
//------------------------------------------------------------------------


$max-width : 960;
$gtr       : 30;
$gtr-half  : 15;
$cols      : 12;


//------------------------------------------------------------------------
//  $Media Queries
//------------------------------------------------------------------------


$s  : 480;
$m  : 768;
$l  : 1024;
$xl : 1280;


//------------------------------------------------------------------------
//  $zindex map
//------------------------------------------------------------------------


$zindex: (
    top:    500,
    bottom: 200
);