//------------------------------------------------------------------------
//  $Headings
//------------------------------------------------------------------------


h1, h2, h3, h4 {
    margin: 0;
}

//------------------------------------------------------------------------
//  $Heading placeholders
//------------------------------------------------------------------------


%h-l {
    font: em(24) $ff-primary;

    @include breakpoint($m) {
        font-size: em(48);
    }
}

%h-m {
    font: $fw-bold em(21) $ff-primary;

    @include breakpoint($m) {
        font-size: em(36);
    }
}

%h-s {
    font: $fw-bold em(18) $ff-primary;

    @include breakpoint($m) {
        font-size: em(24);
    }
}


//------------------------------------------------------------------------
//  $Headings
//------------------------------------------------------------------------


h1 {
    @extend %h-l;
}

h2 {
    @extend %h-m;
}

h3 {
    @extend %h-s;
}