//------------------------------------------------------------------------
//  $Type placeholders
//------------------------------------------------------------------------


%t-l {
    font: em(21) $ff-primary;

    @include breakpoint($m) {
        font-size: em(32);
    }
}

%t-m {
    font: em(18) $ff-primary;

    @include breakpoint($m) {
        font-size: em(20);
    }
}

%t-s {
    font: em(16) $ff-primary;
}


//------------------------------------------------------------------------
//  $Typography
//------------------------------------------------------------------------


.t-l {
    @extend %t-l;
}

p {
    @extend %t-m;
}

.t-s {
    @extend %t-s;
}


//------------------------------------------------------------------------
//  $Blockquotes
//------------------------------------------------------------------------


blockquote {
    @include flow();

    p {
        font-size: em(20);
        font-style: italic;
    }
}

